<script lang="ts">
  var k = 2;
  $: hMatrix = generateHMatrix(k);
  $: codeWords = getCodewordsAsText(k);
  $: codeDistance = 2 ** (k - 1);
  var showA1Solution = false;
  var showA2Solution = false;
  var showA3Solution = false;

  function generateHMatrix(k: number): number[][] {
    if (k == 0) return [[1]];
    const kMinusOneMatrix = generateHMatrix(k - 1);
    const kMinusOneMatrixInv = invertMatrix(kMinusOneMatrix);
    return concatMatrixesH(kMinusOneMatrix, kMinusOneMatrixInv);
  }

  function concatMatrixesH(m: number[][], mInv: number[][]): number[][] {
    var toReturn = [];
    for (const row of m) {
      const twoRows = row.concat(row);
      toReturn.push(twoRows);
    }
    for (var i = 0; i < m.length; i++) {
      const row = m[i];
      const iRow = mInv[i];
      const twoRows = row.concat(iRow);
      toReturn.push(twoRows);
    }
    return toReturn;
  }

  function invertMatrix(m: number[][]): number[][] {
    return m.map(row => row.map(e => (e == 1 ? 0 : 1)));
  }

  function getCodewordsAsText(k: number): string {
    var toReturn = "{";
    hMatrix.concat(invertMatrix(hMatrix)).forEach(row => {
      row.forEach(entry => (toReturn += entry));
      toReturn += ", ";
    });
    toReturn += "}";
    toReturn = toReturn.replace(", }", "}");
    return toReturn;
  }
</script>

<div>
  <h2>Reed Solomon Matrix</h2>
  <h3>Parameter auswahl</h3>

  <div class="flex flex-row space-x-4">
    <div>K =</div>
    <input type="number" min="0" max="20" bind:value={k} />
  </div>
  <h3>Aufgaben</h3>

  <div class="flex flex-row space-x-4">
    <h4>1.</h4>
    <div>
      Gib H<sub>{2}<sup>{k}</sup></sub> = H<sub>{2 ** k}</sub> an.
    </div>
    <div />
    <button
      class="w-40 rounded"
      on:click={() => (showA1Solution = !showA1Solution)}
      >Lösung {showA1Solution ? "verstecken" : "zeigen"}</button
    >
  </div>
  {#if showA1Solution}
    <table class="matrix">
      {#each hMatrix as row}
        <tr>
          {#each row as entry}
            <td>{entry}</td>
          {/each}
        </tr>
      {/each}
    </table>
  {/if}
  <div class="flex flex-row space-x-4">
    <h4>2.</h4>
    <div>Gib alle Codewörter von H<sub>{2 ** k}</sub> an</div>
    <button
      class="w-40 rounded"
      on:click={() => (showA2Solution = !showA2Solution)}
      >Lösung {showA2Solution ? "verstecken" : "zeigen"}</button
    >
  </div>
  {#if showA2Solution}
    <div class="flex flex-row space-x-4">
      {codeWords}
    </div>
  {/if}

  <div class="flex flex-row space-x-4">
    <h4>3.</h4>
    <div>Welcher Abstand hat dieser Code?</div>
    <button
      class="w-40 rounded"
      on:click={() => (showA3Solution = !showA3Solution)}
      >Lösung {showA3Solution ? "verstecken" : "zeigen"}</button
    >
  </div>
  {#if showA3Solution}
    <div class="flex flex-row space-x-4">
      Der resultierende Code hat Abstand d = {codeDistance}
    </div>
  {/if}
</div>

<style lang="postcss">
</style>
