<script lang="ts">
  var maxNumber = 120;
  var showSolutions = [false, false, false,false];
  $: add1 = getRandomInt(maxNumber);
  $: add2 = getRandomInt(maxNumber);
  $: modulant = getRandomInt(maxNumber);
  $: factor1Small = getRandomInt(maxNumber / 10);
  $: factor2Normal = getRandomInt(maxNumber);
  $: basisSmall = getRandomInt(maxNumber / 8);
  $: exponentSmall = getRandomInt(maxNumber / 8);
  $: fermatBasisSmall = BigInt(getRandomInt(maxNumber / 8));
  $: fermatExponent = BigInt(getRandomInt(maxNumber*4));
  $: fermatModulant = BigInt(getRandomPrime(maxNumber))

  function getRandomInt(maxNumber: number): any {
    return Math.ceil(Math.random() * maxNumber);
  }

  function generateNewValues() {
    // collapse solutions
    showSolutions = showSolutions.map(() => false);
    maxNumber++;
    maxNumber--;
  }

  function toggleAllSolutions() {
    const allTrue = showSolutions.reduce(
      (prev, current) => prev && current,
      true
    );
    console.log(allTrue);
    showSolutions = showSolutions.map(e => !allTrue);
  }


function getRandomPrime(tmp = 0): any {
  const primes = [
    3,
    5,
    7,
    11,
    13,
    17,
    19,
  ];

  return primes[Math.floor(Math.random()*primes.length)]
}
</script>

<div>
  <h2>Reed Solomon Matrix</h2>
  <h3>Parameter auswahl</h3>
  <div class="flex flex-row space-x-4">
    <div>Maximale Zahlen =</div>
    <input type="number" min="0" max="2000" bind:value={maxNumber} />
    <button on:click={generateNewValues} class="w-40 rounded"
      >Neue Aufgaben</button
    >
    <button on:click={toggleAllSolutions} class="w-64 rounded"
      >Alle Lösungen zeigen / verstecken</button
    >
  </div>
  <h3>Aufgaben</h3>
  <div class="flex flex-row space-x-4">
    <h4>1.</h4>
    <div>
      {add1} + {add2} mod {modulant}
    </div>
    <div />
    <button
      class="w-40 rounded"
      on:click={() => (showSolutions[0] = !showSolutions[0])}
      >Lösung {showSolutions[0] ? "verstecken" : "zeigen"}</button
    >
  </div>
  {#if showSolutions[0]}
    <div class="flex flex-row space-x-4">
      {(add1 + add2) % modulant}
    </div>
  {/if}

  <div class="flex flex-row space-x-4">
    <h4>2.</h4>
    <div>
      {factor1Small} · {factor2Normal} mod {modulant}
    </div>
    <div />
    <button
      class="w-40 rounded"
      on:click={() => (showSolutions[1] = !showSolutions[1])}
      >Lösung {showSolutions[1] ? "verstecken" : "zeigen"}</button
    >
  </div>
  {#if showSolutions[1]}
    <div class="flex flex-row space-x-4">
      {(factor1Small * factor2Normal) % modulant}
    </div>
  {/if}

  <div class="flex flex-row space-x-4">
    <h4>3.</h4>
    <div>
      {basisSmall}<sup>{exponentSmall}</sup> mod {modulant}
    </div>
    <div />
    <button
      class="w-40 rounded"
      on:click={() => (showSolutions[2] = !showSolutions[2])}
      >Lösung {showSolutions[2] ? "verstecken" : "zeigen"}</button
    >
  </div>
  {#if showSolutions[2]}
    <div class="flex flex-row space-x-4">
      {basisSmall ** exponentSmall % modulant}
    </div>
  {/if}

  <div class="flex flex-row space-x-4">
    <h4>4.</h4>
    <div>
      {fermatBasisSmall}<sup>{fermatExponent}</sup> mod {fermatModulant}
    </div>
    <div />
    <button
      class="w-40 rounded"
      on:click={() => (showSolutions[3] = !showSolutions[3])}
      >Lösung {showSolutions[3] ? "verstecken" : "zeigen"}</button
    >
  </div>
  {#if showSolutions[3]}
    <div class="flex flex-row space-x-4">
      {fermatBasisSmall ** fermatExponent % fermatModulant}
    </div>
  {/if}
</div>
