<script lang="ts">
  const primes = [
    2,
    3,
    5,
    7,
    11,
    13,
    17,
    19,
    23,
    29,
    31,
    37,
    41,
    43,
    47,
    53,
    59,
    61,
    67,
    71,
    73,
    79,
    83,
    89,
    97
  ];
  var countLambdas = 4;
  $: restKlassenRingOrdnung = rkrExponent ** primeBasis;
  var primeBasis = 1;
  var rkrExponent = 7;
  $: lambdas = generateLambdas(restKlassenRingOrdnung, countLambdas);
  $: codeWord = generateCodewort(restKlassenRingOrdnung, codeWordLength);
  $: erzeugerMatrix = generateErzeugermatrix(lambdas);
  $: encodedMessage = encodeMessage(codeWord);

  var showSolutions = [false, false, false];

  var codeWordLength = 3;

  function generateLambdas(
    restKlassenRingOrdnung: number,
    countLambdas: number
  ): number[] {
    var toReturn: number[] = [];
    for (var i = 0; i < countLambdas; i++) {
      toReturn.push(i + 1);
    }
    return toReturn;
  }

  function generateCodewort(
    restKlassenRingOrdnung: number,
    codeWordLength: number
  ): any {
    return new Array(codeWordLength).fill(0);
  }

  function assignRandomCodewords() {
    codeWord = codeWord.map(e =>
      Math.floor(Math.random() * restKlassenRingOrdnung)
    );
  }

  function generateErzeugermatrix(lambdas: number[]): number[][] {
    var toReturn: number[][] = [];
    for (var lambda of lambdas) {
      var row = [];
      for (var i = 0; i < codeWordLength; i++) {
        row[i] = lambda ** i % restKlassenRingOrdnung;
      }
      toReturn.push(row);
    }
    return toReturn;
  }

  function encodeMessage(codeWord: number[]): number[] {
    var encoding = [];
    for (var row of erzeugerMatrix) {
      var rowSum = 0;
      for (var [i, v] of codeWord.entries()) {
        rowSum += row[i] * v;
      }
      encoding.push(rowSum % restKlassenRingOrdnung);
    }
    return encoding;
  }
</script>

<div>
  <h2>Reed Solomon Codes</h2>
  <h3>Parameter auswahl</h3>

  <div class="flex flex-row space-x-4">
    <div>Anzahl Lambdas</div>
    <div>
      <input type="number" min="2" max="10" bind:value={countLambdas} />
    </div>
    <div />
    {#each lambdas as lambda, i}
      <div>λ<sub>{i + 1}</sub> =</div>
      <input class="w-12" type="number" bind:value={lambdas[i]} />
    {/each}
  </div>

  <div class="flex flex-row space-x-4">
    <div>Ordnung Restklassenring</div>
    <div>
      <select bind:value={rkrExponent}>
        {#each primes as prime, i}
          <option value={prime}>{prime}</option>
        {/each}
      </select>
    </div>
    <div>hoch</div>
    <input type="number" bind:value={primeBasis} min="1" max="100" />
    <div>
      ergibt 𝔽<sub>{restKlassenRingOrdnung}</sub>
    </div>
  </div>

  <div class="flex flex-row space-x-4">
    <div>Länge Codewort</div>
    <input type="number" min="2" max="10" bind:value={codeWordLength} />
    <button on:click={assignRandomCodewords} class="font-bold px-4 rounded"
      >Random Codewort</button
    >
    {#each codeWord as cw, i}
      <div>c<sub>{i + 1}</sub> =</div>
      <input
        class="w-12"
        type="number"
        min="0"
        max={restKlassenRingOrdnung - 1}
        bind:value={codeWord[i]}
      />
    {/each}
  </div>
  <h3>Aufgaben</h3>
  <div class="flex flex-row space-x-4">
    <h4>1.</h4>
    <div>Geben Sie die Erzeugermatrix zu den λs an</div>
    <div />
    <button
      class="w-40 rounded"
      on:click={() => (showSolutions[0] = !showSolutions[0])}
      >Lösung {showSolutions[0] ? "verstecken" : "zeigen"}</button
    >
  </div>
  {#if showSolutions[0]}
    <div class="flex flex-row space-x-4">
      <table class="matrix">
        {#each erzeugerMatrix as row}
          <tr>
            {#each row as entry}
              <td>{entry}</td>
            {/each}
          </tr>
        {/each}
      </table>
    </div>
  {/if}

  <div class="flex flex-row space-x-4">
    <h4>2.</h4>
    <div>
      Codieren Sie das Codewort c={#each codeWord as c} {c + " "} {/each}
    </div>
    <div />
    <button
      class="w-40 rounded"
      on:click={() => (showSolutions[1] = !showSolutions[1])}
      >Lösung {showSolutions[1] ? "verstecken" : "zeigen"}</button
    >
  </div>
  {#if showSolutions[1]}
    <div class="flex flex-row space-x-4">
      {encodedMessage}
    </div>
  {/if}

  <div class="flex flex-row space-x-4">
    <h4>3.</h4>
    <div>
      Überprüfen Sie ob das Ergebnis von 2. korrekt decodiert (Keine Lösong, da
      ich keinen LGS-Solver implementieren werde...)
    </div>
    <div />
  </div>
</div>

<style lang="postcss">
  .flex {
    margin-bottom: 20px;
  }
</style>
