<script lang="ts">
  const primes = [
    3,
    5,
    7,
    11,
    13,
    17,
    19,
    23,
    29,
    31,
    37,
    41,
    43,
    47,
    53,
    59,
    61,
    67,
    71,
    73,
    79,
    83,
    89,
    97
  ];

  $: polynom = generatePolynome(restKlassenRingOrdnung, polynomLength);
  //const polynom = [1,5,3]
  $: supportVector = generateSupportVector(polynom, polynomLength);

  var showSolution = false;
  var restKlassenRingOrdnung = 7;
  var polynomLength = 3;

  function generatePolynome(restKlassenRingOrdnung: number, polynomLength:number): number[] {
    var toReturn = [];
    for (var i = 0; i < polynomLength; i++) {
      toReturn.push(Math.floor(Math.random() * restKlassenRingOrdnung));
    }
    return toReturn;
  }

  function getRandomSubarray(arr, size) {
    var shuffled = arr.slice(0),
      i = arr.length,
      temp,
      index;
    while (i--) {
      index = Math.floor((i + 1) * Math.random());
      temp = shuffled[index];
      shuffled[index] = shuffled[i];
      shuffled[i] = temp;
    }
    return shuffled.slice(0, size);
  }

  function calculateValue(x:number, coefficients:number[]){
    var sum = 0;
    for (var i = 0; i < coefficients.length ;i++){
      sum += coefficients[i]*(x**(coefficients.length-1-i))
    }
    return sum%restKlassenRingOrdnung;
  }

  function generateSupportVector(polynom: number[], polynomLength: number): number[][] {
    const xs = getRandomSubarray(
      Array.from(Array(restKlassenRingOrdnung - 2).keys()).map(e => e+1),
      polynomLength
    );
    var toReturn = []
    xs.forEach(x => {
      const y = calculateValue(x, polynom);
      toReturn.push([x,y])
    });

    return toReturn
  }
</script>

<div>
  <h2>Shamirs Secret Sharing Scheme</h2>
  <h3>Parameter auswahl</h3>

  <div class="flex flex-row space-x-4">
    <div>Ordnung Restklassenring</div>
    <div>
      <select bind:value={restKlassenRingOrdnung}>
        {#each primes as prime, i}
          <option value={prime}>{prime}</option>
        {/each}
      </select>
    </div>
    <div>
      ergibt 𝔽<sub>{restKlassenRingOrdnung}</sub>
    </div>
  </div>
  <div class="flex flex-row space-x-4">
    <div>Anzahl Geheimnissen (= Grad des Polynoms +1)</div>
    <input
      type="number"
      class="w-12"
      min="2"
      max={restKlassenRingOrdnung-1}
      bind:value={polynomLength}
    />
  </div>
  <div class="flex flex-row space-x-4">
    <button on:click={() => {polynom = generatePolynome(restKlassenRingOrdnung, polynomLength)}} class="font-bold px-4 rounded">Random Codewort</button>
  </div>
  <h3>Aufgabe</h3>
  <div class="flex flex-row space-x-4">
    <div>Gegeben sind die Geheimnisse: {#each supportVector as sv} ({sv[0]};{sv[1]}) {/each} berechnen Sie das zugrundeliegende Polynom und das Geheimnis f(0)</div>
    <button
    class="w-40 rounded"
    on:click={() => (showSolution = !showSolution)}
    >Lösung {showSolution ? "verstecken" : "zeigen"}</button
  >
  </div>
  {#if showSolution} 
  <div class="flex flex-row space-x-4">
    <div class="bg-red-500 rounded color-white">Ab und zu kommt es vor, dass die Koeffizienten des Polynoms in Umgekehrter Reihenfolge erscheinen und somit auch f(0) falsch ist!</div>
  </div>
  <div class="flex flex-row space-x-4">
    <div>Das gesucht Polynom ist {#each polynom as c,i}
      {c==1?"":c}x<sup>{polynomLength-1-i}</sup> + 
    {/each} mit f(0) = {calculateValue(0,polynom)}</div>
  </div>
  {/if}
  
</div>
