<script lang="ts">
  import RSC from "./components/ReedSalomonTrainer.svelte";
  import HDM from "./components/HadamardMatrix.svelte";
  import Modulo from "./components/Modulo.svelte";
  import SSS from "./components/Shamir.svelte";

  const moduleNames: string[] = ["RSC", "HDM - Matrix", "Modulo", "SSS"];
  var selectedModule: string = "Modulo";
</script>

<main class="container mx-auto">
  <h1>ADM - Trainer</h1>
  <div class="flex">
    {#each moduleNames as module, index}
      <div
        class="flex-initial w-48 moduleSelectorItem {selectedModule == module
          ? 'moduleSelectorSelected'
          : ''}"
        on:click={() => (selectedModule = module)}
      >
        {module}
      </div>
    {/each}
  </div>
  <div class="spacer" />
  {#if selectedModule == "RSC"}
    <RSC />
  {/if}
  {#if selectedModule == "HDM - Matrix"}
    <HDM />
  {/if}
  {#if selectedModule == "Modulo"}
    <Modulo />
  {/if}
  {#if selectedModule == "SSS"}
    <SSS />
  {/if}
</main>

<!-- colors: 8ecae6 219ebc 023047 ffb703 fb8500-->
<style lang="postcss" global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  :root {
    --lightBlue: #8ecae6;
    --blue: #219ebc;
    --darkBlue: #023047;
    --yellow: #ffb703;
    --orange: #fb8500;
  }

  h1 {
    color: var(--darkBlue);
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  h2 {
    color: var(--darkBlue);
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
  }
  h3 {
    color: var(--darkBlue);
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
  }
  h4 {
    color: var(--darkBlue);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;
  }

  .spacer {
    height: 10px;
  }

  * {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .moduleSelectorItem {
    background-color: var(--blue);
    margin: 0 10px 0 10px;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 500;
  }

  .moduleSelectorSelected {
    background-color: var(--darkBlue);
    color: white;
  }

  .flex-row {
    margin-bottom: 10px;
  }

  .matrix {
    width: 4em;
    height: 4em;
  }
</style>
